.choresText {
   color: lightslategrey;
   font-family: 'Times New Roman', Times, serif;
   font-size: 24px;
   font-style: italic;
}

.choresHeading {
   color: black;
   font-family: 'Times New Roman', Times, serif;
   text-decoration-line: underline;
   font-size: 36px;
}